/TinDog/.vs/TinDog/FileContentIndex/935dc89b-596b-4a17-8e60-a3e5575948b7.vsidx
/TinDog/ListaTindog/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.AssemblyInfo.cs
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.AssemblyInfoInputs.cache
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.GeneratedMSBuildEditorConfig.editorconfig
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.GlobalUsings.g.cs
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.assets.cache
/TinDog/ListaTindog/obj/ListaTindog.csproj.nuget.dgspec.json
/TinDog/ListaTindog/obj/ListaTindog.csproj.nuget.g.props
/TinDog/ListaTindog/obj/ListaTindog.csproj.nuget.g.targets
/TinDog/ListaTindog/obj/project.assets.json
/TinDog/ListaTindog/obj/project.nuget.cache
