/TinDog/.vs/TinDog/FileContentIndex/935dc89b-596b-4a17-8e60-a3e5575948b7.vsidx
/TinDog/ListaTindog/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.AssemblyInfo.cs
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.AssemblyInfoInputs.cache
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.GeneratedMSBuildEditorConfig.editorconfig
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.GlobalUsings.g.cs
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.assets.cache
/TinDog/ListaTindog/obj/ListaTindog.csproj.nuget.dgspec.json
/TinDog/ListaTindog/obj/ListaTindog.csproj.nuget.g.props
/TinDog/ListaTindog/obj/ListaTindog.csproj.nuget.g.targets
/TinDog/ListaTindog/obj/project.assets.json
/TinDog/ListaTindog/obj/project.nuget.cache
/TinDog/.vs/TinDog/FileContentIndex/6e5733ea-b5bd-4c34-9a2a-833e142ccc26.vsidx
/TinDog/.vs/TinDog/v17/.suo
/TinDog/.vs/TinDog/v17/DocumentLayout.json
/TinDog/ListaTindog/bin/Debug/net7.0/ListaTindog.deps.json
/TinDog/ListaTindog/bin/Debug/net7.0/ListaTindog.dll
/TinDog/ListaTindog/bin/Debug/net7.0/ListaTindog.exe
/TinDog/ListaTindog/bin/Debug/net7.0/ListaTindog.pdb
/TinDog/ListaTindog/bin/Debug/net7.0/ListaTindog.runtimeconfig.json
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.csproj.BuildWithSkipAnalyzers
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.csproj.CoreCompileInputs.cache
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.csproj.FileListAbsolute.txt
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.dll
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.genruntimeconfig.cache
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.pdb
/TinDog/ListaTindog/obj/Debug/net7.0/ListaTindog.sourcelink.json
/TinDog/ListaTindog/obj/Debug/net7.0/apphost.exe
/TinDog/ListaTindog/obj/Debug/net7.0/ref/ListaTindog.dll
/TinDog/ListaTindog/obj/Debug/net7.0/refint/ListaTindog.dll
/TinDog/.vs/ProjectEvaluation/tindog.metadata.v7.bin
/TinDog/.vs/ProjectEvaluation/tindog.projects.v7.bin
/TinDog/.vs/TinDog/DesignTimeBuild/.dtbcache.v2
/TinDog/.vs/TinDog/v17/.futdcache.v2
/TinDog/.vs/TinDog/FileContentIndex/87158de6-cd1b-4deb-bbcd-1a0c090c279d.vsidx
/TinDog/.vs/TinDog/FileContentIndex/c9da6c54-af86-4ab4-af74-07ca0bd982e1.vsidx
/TinDog/.vs/TinDog/FileContentIndex/d416c5d7-7695-4cea-bc0b-33e9859d95f9.vsidx
/TinDog/ListaTindog/Tutor.cs.bak
/TinDog/.vs/TinDog/FileContentIndex/128d4e70-f95d-4409-8c0e-c45162668376.vsidx
/TinDog/.vs/TinDog/FileContentIndex/374b7690-57a1-43a9-a2bd-5a04526227fc.vsidx
/TinDog/.vs/TinDog/FileContentIndex/6a576655-4e36-4015-b123-c16e978d560e.vsidx
/TinDog/.vs/TinDog/FileContentIndex/ec867e06-fd9e-4736-9959-e3decfd6cc5b.vsidx
